In [59]:
#協調フィルタリング
import numpy as np
import pandas as pd
from sklearn.decomposition import TruncatedSVD

ratings = pd.read_csv("./ml_data/recommnder_data/goodbooks-10k/ratings.csv")
columns = ['book_id','user_id','rating']

In [60]:
books = pd.read_csv("./ml_data/recommnder_data/goodbooks-10k/books.csv")

columns = ['id','book_id', 'best_book_id', 'work_id', 'books_count', 'isbn', 'isbn13', 'authors',
           'original_publication_year', 'original_title', 'title', 'language_code', 'average_rating',
           'ratings_count', 'work_ratings_count', 'work_text_reviews_count',
           'ratings_1', 'ratings_2', 'ratings_3', 'ratings_4', 'ratings_5', 'image_url', 'small_image_url']

In [369]:
combined_books_data = pd.merge(ratings,books,on='book_id')

In [370]:
combined_books_data.head()

,book_id,user_id,rating,id,best_book_id,work_id,books_count,isbn,isbn13,authors,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,1,314,5,27,1,41335427,275,439785960,9.780440e+12,"J.K. Rowling, Mary GrandPré",...,1678823,1785676,27520,7308,21516,136333,459028,1161491,https://images.gr-assets.com/books/1361039191m...,https://images.gr-assets.com/books/1361039191s...
1,1,439,3,27,1,41335427,275,439785960,9.780440e+12,"J.K. Rowling, Mary GrandPré",...,1678823,1785676,27520,7308,21516,136333,459028,1161491,https://images.gr-assets.com/books/1361039191m...,https://images.gr-assets.com/books/1361039191s...
2,1,588,5,27,1,41335427,275,439785960,9.780440e+12,"J.K. Rowling, Mary GrandPré",...,1678823,1785676,27520,7308,21516,136333,459028,1161491,https://images.gr-assets.com/books/1361039191m...,https://images.gr-assets.com/books/1361039191s...
3,1,1169,4,27,1,41335427,275,439785960,9.780440e+12,"J.K. Rowling, Mary GrandPré",...,1678823,1785676,27520,7308,21516,136333,459028,1161491,https://images.gr-assets.com/books/1361039191m...,https://images.gr-assets.com/books/1361039191s...
4,1,1185,4,27,1,41335427,275,439785960,9.780440e+12,"J.K. Rowling, Mary GrandPré",...,1678823,1785676,27520,7308,21516,136333,459028,1161491,https://images.gr-assets.com/books/1361039191m...,https://images.gr-assets.com/books/1361039191s...

In [371]:
rating_utility_matrix = combined_books_data.pivot_table(values="rating",index="user_id",columns="title",fill_value=0)

In [372]:
rating_utility_matrix.head()

title,'Salem's Lot,"'Tis (Frank McCourt, #2)",1421: The Year China Discovered America,1776,1984,A Bend in the River,A Bend in the Road,A Brief History of Time,A Briefer History of Time,A Case of Need,...,"Women in Love (Brangwen Family, #2)",World War Z: An Oral History of the Zombie War,"World Without End (The Kingsbridge Series, #2)",Wuthering Heights,"Xenocide (Ender's Saga, #3)",Year of Wonders,You Shall Know Our Velocity!,Zen and the Art of Motorcycle Maintenance: An Inquiry Into Values,Zodiac,number9dream
user_id,,,,,,,,,,,,,,,,,,,,,
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.0,0

In [373]:
rating_utility_matrix.shape

(28906, 812)

In [374]:
X = rating_utility_matrix.T
SVD = TruncatedSVD(n_components=30)
transposed_matrix = SVD.fit_transform(X)
transposed_matrix.shape

(812, 30)

In [375]:
corr_matrix = np.corrcoef(transposed_matrix)
books = rating_utility_matrix.columns

books_list = list(books)
book_1984 = books_list.index("1984")

In [376]:
book_1984

4

In [377]:
corr_1984 = corr_matrix[book_1984]
list(books[(corr_1984 < 1.0) & (corr_1984 > 0.8)])

['A Christmas Carol',
 'Ivanhoe',
 'Night Over Water',
 'Reading Lolita in Tehran',
 'The Great Book of Amber (The Chronicles of Amber, #1-10)',
 'The King of Torts']

In [378]:
list(books[(corr_1984 < 1.0) & (corr_1984 > 0.7)])

['A Christmas Carol',
 'Antigone (The Theban Plays, #3)',
 'Cry, the Beloved Country',
 'Deerskin',
 'Do Androids Dream of Electric Sheep?',
 "Giada's Family Dinners",
 'Ivanhoe',
 'Night Over Water',
 'Persuasion',
 'Reading Lolita in Tehran',
 'The Great Book of Amber (The Chronicles of Amber, #1-10)',
 'The King of Torts',
 'The Oresteia  (Ορέστεια, #1-3)',
 'The Stories of Eva Luna',
 'The Virgin Blue',
 'Travels with Charley: In Search of America',
 'Wolves of the Calla (The Dark Tower, #5)']

In [428]:
#協調フィルタリング２
import pandas as pd
from sklearn.naive_bayes import GaussianNB

df = pd.read_csv('./ml_data/recommnder_data/advertising.csv')
df.head()

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line,City,Male,Country,Timestamp,Clicked on Ad
0,68.95,35,61833.90,256.09,Cloned 5thgeneration orchestration,Wrightburgh,0,Tunisia,2016-03-27 00:53:11,0
1,80.23,31,68441.85,193.77,Monitored national standardization,West Jodi,1,Nauru,2016-04-04 01:39:02,0
2,69.47,26,59785.94,236.50,Organic bottom-line service-desk,Davidton,0,San Marino,2016-03-13 20:35:42,0
3,74.15,29,54806.18,245.89,Triple-buffered reciprocal time-frame,West Terrifurt,1,Italy,2016-01-10 02:31:19,0
4,68.37,35,73889.99,225.58,Robust logistical utilization,South Manuel,0,Iceland,2016-06-03 03:36:18,0

In [429]:
del df["Ad Topic Line"]
del df["Timestamp"]
del df["City"]
del df["Country"]
del df["Male"]

In [430]:
X = df.drop('Clicked on Ad',axis=1)

In [431]:
y = df['Clicked on Ad']

In [432]:
model = GaussianNB()
model.fit(X,y)

GaussianNB(priors=None, var_smoothing=1e-09)

In [440]:
target_user = [
    66.00,
    48,
    24593.33,
    131.76
]

target_user2 = [
    68.95,
    35,
    61833.00,
    225.38
]

In [442]:
pred_target_user = model.predict([target_user2])
print("Prediction:",pred_target_user)

Prediction: [0]

In [445]:
#コンテンツベース レコメンド
import pandas as pd
from sklearn.neighbors import NearestNeighbors

df = pd.read_csv('./ml_data/recommnder_data/melbourne-housing-market/Melbourne_housing_FULL.csv')
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,3/09/2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra City Council,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.8079,144.9934,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,4/02/2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra City Council,-37.8114,145.0116,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.8093,144.9944,Northern Metropolitan,4019.0

In [446]:
df.dropna(axis=0,how='any',thresh= None,subset= None,inplace=True)

In [448]:
X = df.loc[:,['Price','Distance','Bedroom2','Bathroom','Landsize','BuildingArea','YearBuilt']].values

In [449]:
target = [1350000,2,2,2,220,200,2005]
model = NearestNeighbors(n_neighbors=3).fit(X)

In [457]:
print(model.kneighbors([target]))

(array([[11.71537451, 17.12191578, 46.64643609]]), array([[   6, 3002, 6669]]))

In [453]:
df.iloc[6]

Suburb                      Abbotsford
Address                40 Nicholson St
Rooms                                3
Type                                 h
Price                         1.35e+06
Method                              VB
SellerG                         Nelson
Date                        12/11/2016
Distance                           2.5
Postcode                          3067
Bedroom2                             3
Bathroom                             2
Car                                  2
Landsize                           214
BuildingArea                       190
YearBuilt                         2005
CouncilArea         Yarra City Council
Lattitude                     -37.8085
Longtitude                     144.996
Regionname       Northern Metropolitan
Propertycount                     4019
Name: 24, dtype: object

In [26]:
df.iloc[3002]

Suburb                             Seddon
Address                        38 Lily St
Rooms                                   3
Type                                    h
Price                            1.35e+06
Method                                 PI
SellerG                           Village
Date                            8/10/2016
Distance                              6.6
Postcode                             3011
Bedroom2                                3
Bathroom                                3
Car                                     2
Landsize                              227
BuildingArea                          211
YearBuilt                            2015
CouncilArea      Maribyrnong City Council
Lattitude                        -37.8033
Longtitude                         144.89
Regionname           Western Metropolitan
Propertycount                        2417
Name: 9072, dtype: object

In [454]:
df.iloc[6669]

Suburb                       Northcote
Address                 39 Winifred St
Rooms                                4
Type                                 h
Price                         1.35e+06
Method                               S
SellerG                            Ray
Date                        23/09/2017
Distance                           5.3
Postcode                          3070
Bedroom2                             4
Bathroom                             2
Car                                  2
Landsize                           264
BuildingArea                       188
YearBuilt                         1996
CouncilArea       Darebin City Council
Lattitude                      -37.769
Longtitude                     144.986
Regionname       Northern Metropolitan
Propertycount                    11364
Name: 22663, dtype: object

In [458]:
#コンテンツベース レコメンド2

import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

df = pd.read_csv("./ml_data/movie_dataset.csv")
df.head()

,index,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew,director
0,0,237000000,Action Adventure Fantasy Science Fiction,http://www.avatarmovie.com/,19995,culture clash future space war space colony so...,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Sam Worthington Zoe Saldana Sigourney Weaver S...,"[{'name': 'Stephen E. Rivkin', 'gender': 0, 'd...",James Cameron
1,1,300000000,Adventure Fantasy Action,http://disney.go.com/disneypictures/pirates/,285,ocean drug abuse exotic island east india trad...,en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Johnny Depp Orlando Bloom Keira Knightley Stel...,"[{'name': 'Dariusz Wolski', 'gender': 2, 'depa...",Gore Verbinski
2,2,245000000,Action Adventure Crime,http://www.sonypictures.com/movies/spectre/,206647,spy based on novel secret agent sequel mi6,en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,Daniel Craig Christoph Waltz L\u00e9a Seydoux ...,"[{'name': 'Thomas Newman', 'gender': 2, 'depar...",Sam Mendes
3,3,250000000,Action Crime Drama Thriller,http://www.thedarkknightrises.com/,49026,dc comics crime fighter terrorist secret ident...,en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,Christian Bale Michael Caine Gary Oldman Anne ...,"[{'name': 'Hans Zimmer', 'gender': 2, 'departm...",Christopher Nolan
4,4,260000000,Action Adventure Science Fiction,http://movies.disney.com/john-carter,49529,based on novel mars medallion space travel pri...,en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,Taylor Kitsch Lynn Collins Samantha Morton Wil...,"[{'name': 'Andrew Stanton', 'gender': 2, 'depa...",Andrew Stanton

In [462]:
features = ['keywords','cast','genres','director']


def combine_features(row):
    return row['keywords'] + " " + row['cast'] + " " + row["genres"] + " " + row["director"]

for feature in features:
    df[feature] = df[feature].fillna('')
    
df["combine_features"] = df.apply(combine_features,axis=1)

cv = CountVectorizer()
count_matrix = cv.fit_transform(df["combine_features"])

In [466]:
cosine_sim = cosine_similarity(count_matrix)

def get_title_from_index(index):
    return df[df.index == index]["title"].values[0]

def get_index_from_title(title):
    return df[df.title == title]["index"].values[0]

movie_user_likes = "Avatar"


movie_index = get_index_from_title(movie_user_likes)
similar_movies = list(enumerate(cosine_sim[movie_index]))

In [468]:
sorted_similar_movies = sorted(similar_movies,key=lambda x:x[1],reverse=True )[1:]

In [469]:
i=0
print("Top 5 similar movies to "+movie_user_likes+" are:\n")
for element in sorted_similar_movies:
    print(get_title_from_index(element[0]))
    i=i+1
    if i>5:
        break

Top 5 similar movies to Avatar are:

Guardians of the Galaxy
Aliens
Star Wars: Clone Wars: Volume 1
Star Trek Into Darkness
Star Trek Beyond
Alien

In [33]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import ensemble
from sklearn.metrics import mean_absolute_error

df = pd.read_csv('./ml_data/recommnder_data/melbourne-housing-market/Melbourne_housing_FULL.csv')
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,3/09/2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra City Council,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.8079,144.9934,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,4/02/2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra City Council,-37.8114,145.0116,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.8093,144.9944,Northern Metropolitan,4019.0

In [34]:

del df["Address"]
del df["Method"]
del df["SellerG"]
del df["Date"]
del df["Postcode"]
del df["Lattitude"]
del df["Longtitude"]
del df["Regionname"]
del df["Propertycount"]

In [35]:
df.dropna(axis=0,how="any",thresh=None,subset=None,inplace=True)

In [36]:
df = pd.get_dummies(df,columns=["Suburb","CouncilArea","Type"])

In [37]:
X = df.drop("Price",axis=1)
y = df["Price"]

In [38]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.3,shuffle=True)

In [39]:
model = ensemble.GradientBoostingRegressor(
    n_estimators=250,
    learning_rate=0.1,
    max_depth=5,
    min_samples_split=4,
    min_samples_leaf=6,
    max_features=0.6,
    loss=  "huber"
     )
model.fit(X_train,y_train)

GradientBoostingRegressor(alpha=0.9, criterion='friedman_mse', init=None,
             learning_rate=0.1, loss='huber', max_depth=5,
             max_features=0.6, max_leaf_nodes=None,
             min_impurity_decrease=0.0, min_impurity_split=None,
             min_samples_leaf=6, min_samples_split=4,
             min_weight_fraction_leaf=0.0, n_estimators=250,
             n_iter_no_change=None, presort='auto', random_state=None,
             subsample=1.0, tol=0.0001, validation_fraction=0.1, verbose=0,
             warm_start=False)

In [40]:
mae_test = mean_absolute_error(y_train,model.predict(X_train))
print("Training Set Mean Abosolute Error:%.2f"% mae_test)

Training Set Mean Abosolute Error:121318.69

In [ ]:
mae_test = mean_absolute_error(y_test,model.predict(X_test))
print("Training Set Mean Abosolute Error:%.2f"% mae_test)

Training Set Mean Abosolute Error:161491.02

In [470]:
from janome.tokenizer import Tokenizer

text = "貴社の記者が記者で帰社した。"

t= Tokenizer()

tokens = list(t.tokenize(text))

for t in tokens:
    print(t)

貴社	名詞,一般,*,*,*,*,貴社,キシャ,キシャ
の	助詞,連体化,*,*,*,*,の,ノ,ノ
記者	名詞,一般,*,*,*,*,記者,キシャ,キシャ
が	助詞,格助詞,一般,*,*,*,が,ガ,ガ
記者	名詞,一般,*,*,*,*,記者,キシャ,キシャ
で	助詞,格助詞,一般,*,*,*,で,デ,デ
帰社	名詞,サ変接続,*,*,*,*,帰社,キシャ,キシャ
し	動詞,自立,*,*,サ変・スル,連用形,する,シ,シ
た	助動詞,*,*,*,特殊・タ,基本形,た,タ,タ
。	記号,句点,*,*,*,*,。,。,。

In [18]:
#コンテツベースレコメンド3
from janome.tokenizer import Tokenizer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import pandas as pd

#df = pd.read_csv('./ml_data/nlp_text.csv',encoding='cp932')
#ハロリノ ノートデータ
df = pd.read_csv('./ml_data/access_log_hello_reno_note_key_words.csv',encoding='cp932')



texts = df['text']

# texts = ["蔵王は、山形県と宮城県の県境にあります。",
#         "山形県の月山は、7月までスキーができるそうです。",
#         "宮城県の松島は日本三景の１つです。"]

# texts = ["ディープラーニング,ディープラーニング(深層学習)とは、人間が自然に行うタスクをコンピュータに学習させる機械学習の手法のひとつです。人工知能(AI)の急速な発展を支える技術であり、その進歩により様々な分野への実用化が進んでいます。近年開発の進んでいる自動運転車においてもカギとなっているのは、ディープラーニングです。",
#          "１つ目の側面から見ていこう。機械学習はその名の通り、学習する機械（マシーン）だ。この機械（マシーン）は、データから反復学習をし、学習結果を法則化する（法則化をモデル化とも呼ぶ）。また、この反復学習からある事象（コト・モノ）の”特徴”をつかむのが最大のポイントでもある。",
#         "機械学習（英語表記はMachine Learning）はというと、AIに内包されるもので、特定のタスクをトレーニングにより機械に実行させるものである。機械学習の詳しい定義は後述する。また、ディープラーニング（深層学習とも呼ばれるが本記事ではディープラーニングと表現する）は、AIの一部であり、また機械学習の1種である。"]


#texts = ["機械学習,SMV,深層学習,プログラミング,勾配降下法,教師あり学習"]

t = Tokenizer()

def japaneseTokenize(text):
    tokens = t.tokenize(text)
    return [token.base_form for token in tokens
            if not token.part_of_speech.split(',')[0] in ['助詞','助動詞','記号','接頭詞']]

count = CountVectorizer(analyzer=japaneseTokenize)
bag_of_words = count.fit_transform(texts)
bag_of_words

df

   index  title                                               text
0      0     23  日常にあったはずの小さな非日常を取り戻す場所\r\nバスとベッドだけの不思議な空間で、ちょっ...
1      1   3299     日常にあったはずの小さな非日常を取り戻す場所\r\nバスとベッドだけの不思議な空間で、非日常
2      2    815  ・羊の皮をかぶった町家たち！\n　歴史情緒のまちなみに\n　まさかのIT先進企業プラットホー...
3      3   4558  そこに行くと心ほっこり、身体が軽くなる空間を提供。同じ興味を持つ人との出会いが繋って広がって...
4      4   4321  所有者の負担、住民の不安、自治体のジレンマを解消する仕組みとして気軽にリノベーションを体験で...
5      5   3763  ２拠点居住。\n小さな町で心地よく暮らす。\nゲストハウス。\nカフェ付きコワーキングスペー...
6      6   4693  博多駅前\n九州のコトのショールーム\n九州各地の多彩なコンテンツでおもてなし！\n現地でア...
7      7   4041  ・食べて飲んでおしゃべりして、“みなとまち”を丸ごと楽しむ！\n・将来的に地域全体で取り組め...
8      8   4508  歴史ある町並みを残す白壁通りの裏にある場所。\nそこを子供、家族、観光客、地域の人がまた来た...

In [19]:
bag_of_words.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 1, 1, ..., 0, 0, 0],
       ...,
       [1, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 1, 1, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [20]:
count.get_feature_names()

['!!',
 'IT',
 'SIB×PFI',
 'ある',
 'いく',
 'いただく',
 'おしゃべり',
 'おもてなし',
 'かぶる',
 'こりる',
 'さらに',
 'する',
 'そこ',
 'たち',
 'ちょっと',
 'できる',
 'なみ',
 'なる',
 'はず',
 'ほる',
 'まさかの',
 'また',
 'まち',
 'みなと',
 'よう',
 'アウトドア',
 'アクティビティ',
 'カフェ',
 'ゲストハウス',
 'コト',
 'コワーキングスペース',
 'コンテンツ',
 'ショールーム',
 'ジレンマ',
 'スキーム',
 'ハブ',
 'バス',
 'プラットホーム',
 'ベッド',
 'リノベーション',
 'リビング',
 '不安',
 '不思議',
 '丸ごと',
 '九州',
 '人',
 '仕組み',
 '付き',
 '企業',
 '住民',
 '体験',
 '価値',
 '先進',
 '全体',
 '公園',
 '出会い',
 '創出',
 '博多',
 '博多駅前',
 '取り戻す',
 '取り組める',
 '取組む',
 '各地',
 '同じ',
 '地域',
 '場所',
 '多彩',
 '子供',
 '客',
 '家族',
 '将来',
 '小さな',
 '居住',
 '広がる',
 '復元',
 '心',
 '心地よい',
 '情緒',
 '所有',
 '拠点',
 '持つ',
 '提供',
 '新た',
 '日常',
 '時間',
 '景観',
 '暮らす',
 '来る',
 '根付く',
 '楽しむ',
 '機能',
 '歴史',
 '残す',
 '気軽',
 '特別',
 '現地',
 '町',
 '町並み',
 '町家',
 '白壁',
 '的',
 '皮',
 '目指す',
 '空き家',
 '空間',
 '素敵',
 '組み合わせる',
 '繋る',
 '羊',
 '者',
 '自治体',
 '興味',
 '行く',
 '裏',
 '観光',
 '解消',
 '負担',
 '身体',
 '軽い',
 '送出',
 '通り',
 '過ごす',
 '食べる',
 '飲む',
 '２']

In [55]:
cosine_sim2= cosine_similarity(bag_of_words)

def get_title_from_index(index):
    return df[df.index == index]["title"].values[0]

def get_index_from_title(title):
    return df[df.title == title]["index"].values[0]

#text_likes = "機械学習3"
text_likes = 4508

text_index = get_index_from_title(text_likes)

In [56]:
similar_texts = list(enumerate(cosine_sim2[text_index]))
similar_texts

[(0, 0.14142135623730953),
 (1, 0.14142135623730953),
 (2, 0.04264014327112209),
 (3, 0.12510864843424488),
 (4, 0.0),
 (5, 0.0),
 (6, 0.0),
 (7, 0.048507125007266595),
 (8, 1.0000000000000007)]

In [57]:
sorted_similar_texts = sorted(similar_texts,key=lambda x:x[1],reverse=True )[1:]
sorted_similar_texts

[(0, 0.14142135623730953),
 (1, 0.14142135623730953),
 (3, 0.12510864843424488),
 (7, 0.048507125007266595),
 (2, 0.04264014327112209),
 (4, 0.0),
 (5, 0.0),
 (6, 0.0)]

In [58]:
import json

i=0
#print("Top 5 similar movies to "+text_likes+" are:\n")
ids = []
for element in sorted_similar_texts:
    if(element[1] > 0.1):
        #print(element[1])
        ids.append(element[0])
    print(get_title_from_index(element[0]))
    i=i+1
    if i>3:
        break
        
print(json.dumps(ids))

23
3299
4558
4041
[0, 1, 3]

In [29]:
# from sklearn.feature_extraction.text import TfidfVectorizer
# tfidf = TfidfVectorizer(analyzer=japaneseTokenize)
# feature_matrix = tfidf.fit_transform(texts)
# feature_matrix.toarray()

In [483]:
#ハロリノ ノート版 コンテンツベースレコメンドシステム

from janome.tokenizer import Tokenizer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import requests
import json

url = "http://localhost:8888/ew-api/public/api/accessLogHelloRenoNoteKeyWords"
r = requests.get(url)
data = json.loads(r.text)

df = pd.DataFrame(data)


# df = pd.read_csv('./ml_data/nlp_text_2.csv',encoding='cp932')
# df.head()

print(df)

  user_id hello_reno_note_id  \
0       1               1111
1     148               2224
2       2               2222
3       3               3333
4       4               4444
5       5               5555
6       6               6666
7       7               7777

                                            keywords
0                               蔵王は、山形県と宮城県の県境にあります。
1  機械学習は古い,カナダに有名な教授がいる,ディープラーニングが最近の魅力,過学習に陥りやすい...
2                     山形県の月山は、7月までスキーができるそうです山形県山形県。
3                                  宮城県の松島は日本三景の１つです。
4                               松島に行きたいです。日本三景だからです。
5  １つ目の側面から見ていこう。機械学習はその名の通り、学習する機械（マシーン）だ。この機械（マ...
6  機械学習（英語表記はMachine Learning）はというと、AIに内包されるもので、特...
7  ディープラーニング(深層学習)とは、人間が自然に行うタスクをコンピュータに学習させる機械学習...

In [505]:
texts = df['keywords']
t = Tokenizer()

def japaneseTokenize(text):
    tokens = t.tokenize(text)
    return [token.base_form for token in tokens
            if not token.part_of_speech.split(',')[0] in ['助詞', '助動詞', '記号', '接頭詞']]

count = CountVectorizer(analyzer=japaneseTokenize)
bag_of_words = count.fit_transform(texts)
cosine_sim2 = cosine_similarity(bag_of_words)


def get_index_from_hello_reno_note_id(hello_reno_note_id):
    #print(df[df.hello_reno_note_id])
    return df[df.hello_reno_note_id == hello_reno_note_id].index.values[0]

def get_hello_reno_note_id_from_index(index):
    return df[df.index == index]["hello_reno_note_id"].values[0]

text_likes = "2224"

text_index = get_index_from_hello_reno_note_id(text_likes)

# # IDの場合
similar_texts = list(enumerate(cosine_sim2[int(text_index)]))
#similar_texts = list(enumerate(cosine_sim2[text_index]))
sorted_similar_texts = sorted(similar_texts, key=lambda x: x[1], reverse=True)[1:]

i = 0
arr = []
#print("Top 5 texts similar to "+text_likes+" are:\n")
for element in sorted_similar_texts:
    if(element[1] > 0.1):
        arr.append(get_hello_reno_note_id_from_index(element[0]))
        #arr.append(element[0])
        print(get_hello_reno_note_id_from_index(element[0]))
    i = i+1
    if i > 3:
        break
        
arr

5555
6666
7777

['5555', '6666', '7777']